/* helloWorld.css*/

h1 {
    font-size: 44px;
    color: red;
}
abbr{
    
    border-style:  dotted ;
    padding:20px;
    width: 500px;
    margin:30px;
    display: inline-block;
    
}

a{
    text-decoration: none;
    border: dotted;
    color: red;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}
